@model FullStopDotNet2014.Web.ViewModels.ViewModelBase
@using FullStopDotNet2014.Web.Extensions
@using FullStopDotNet2014.Web.Resources
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="@Html.EditableClass()" id="@TextResourceKeys.LoremIpsum" >@Model.TextResources.LoremIpsum </p>

<a href="#" @Html.EditableData(@Url.Action("Edit", "TextResources", new { Area="Admin", name = TextResourceKeys.LoremIpsum, culture="en-US" }))>Edit As Object</a>
