<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    
    <!-- load the jQuery and require.js libraries -->
    <script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/require.js"></script>
    <script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/vendor/jquery-1.7.2.js"></script>

    <!-- here we have our Aloha Editor config -->
    <script>
        (function (window) {
            var Aloha = window.Aloha || (window.Aloha = {});

            Aloha.settings = {
                logLevels: { 'error': true, 'warn': true, 'info': true, 'debug': false, 'deprecated': true },
                errorhandling: false,
                ribbon: false,
                locale: 'en',
                floatingmenu: {
                    width: 630,
                    behaviour: 'topalign'
                },
                repositories: {
                    linklist: {
                        data: [
                            { name: 'Aloha Developers Wiki', url: 'https://github.com/alohaeditor/Aloha-Editor/wiki', type: 'website', weight: 0.50 },
                            { name: 'Aloha Editor - The HTML5 Editor', url: 'http://aloha-editor.com', type: 'website', weight: 0.90 },
                            { name: 'Aloha Demo', url: 'http://www.aloha-editor.com/demos.html', type: 'website', weight: 0.75 },
                            { name: 'Aloha Wordpress Demo', url: 'http://www.aloha-editor.com/demos/wordpress-demo/index.html', type: 'website', weight: 0.75 },
                            { name: 'Aloha Logo', url: 'http://www.aloha-editor.com/images/aloha-editor-logo.png', type: 'image', weight: 0.10 }
                        ]
                    }
                },
                plugins: {
                    format: {
                        // all elements with no specific configuration get this configuration
                        config: ['b', 'i', 'p', 'sub', 'sup', 'del', 'title', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'pre', 'removeFormat'],
                        editables: {
                            // no formatting allowed for title
                            '#top-text': []
                        }
                    }
                }
            };
        })(window);
    </script>

    <script src="http://cdn.aloha-editor.org/latest/lib/aloha.js"
            data-aloha-plugins="common/ui,
								common/format,
								common/table,
								common/list,
								common/link,
								common/highlighteditables,
								common/block,
								common/undo,
								common/contenthandler,
								common/paste,
								common/commands,
								common/abbr,
								common/image"></script>

    <link rel="stylesheet" href="http://cdn.aloha-editor.org/latest/css/aloha.css" type="text/css">
    <script>
        Aloha.ready(function () {
            Aloha.require(['aloha', 'aloha/jquery'], function (Aloha, jQuery) {

                // save all changes after leaving an editable
                Aloha.bind('aloha-editable-deactivated', function () {
                    var content = Aloha.activeEditable.getContents();
                    var contentId = Aloha.activeEditable.obj[0].id;
                    var pageId = window.location.pathname;

                    // textarea handling -- html id is "xy" and will be "xy-aloha" for the aloha editable
                    if (contentId.match(/-aloha$/gi)) {
                        contentId = contentId.replace(/-aloha/gi, '');
                    }

                    var request = jQuery.ajax({
                        url: "@Url.HttpRouteUrl("SaveTextResource",null )",
                        type: "POST",
                        data: {
                            value: content,
                            resouceKey: contentId
                        },
                        dataType: "html"
                    });

                    request.done(function (msg) {
                        jQuery("#log").html(msg).show().delay(800).fadeOut();
                    });

                    request.error(function (jqXHR, textStatus) {
                        alert("Request failed: " + textStatus);
                    });
                });

            });
        });
    </script>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <!-- make all elements with class="editable" editable with Aloha Editor -->
    <script type="text/javascript">
        Aloha.ready(function () {
            var $ = Aloha.jQuery;
            $('.js-editable').aloha();
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
